<div class="index-container" phx-hook="HomeNavBar" id="home-content">
  <%= render "_hero.html", assigns %>
  <%= render "_about_me.html", assigns %>
  <%= render "_skills.html", assigns %>
  <%= render "_experience.html", assigns %>
  <%= render "_carousel.html", assigns %>
  <%= render "_interests.html", assigns %>
  <%= render "_contact.html", assigns %>
</div>
