<div id="hero-container">
  <div id="video-container"></div>
  <video autoplay="" loop="" src={TedxWeb.PageView.random_video()} type="video/mp4"></video>
  <div id="banner">
    <p>software engineer &amp; web developer</p>
  </div>
</div>
