@-webkit-keyframes Siren {
  0% {
    background-position: 0 92%;
  }

  50% {
    background-position: 100% 9%;
  }

  100% {
    background-position: 0 92%;
  }
}
@-moz-keyframes Siren {
  0% {
    background-position: 0 92%;
  }

  50% {
    background-position: 100% 9%;
  }

  100% {
    background-position: 0 92%;
  }
}
@-o-keyframes Siren {
  0% {
    background-position: 0 92%;
  }

  50% {
    background-position: 100% 9%;
  }

  100% {
    background-position: 0 92%;
  }
}
@keyframes Siren {
  0% {
    background-position: 0 92%;
  }

  50% {
    background-position: 100% 9%;
  }

  100% {
    background-position: 0 92%;
  }
}
@-webkit-keyframes Fire {
  0% {
    background-position: 0 76%;
  }

  50% {
    background-position: 100% 25%;
  }

  100% {
    background-position: 0 76%;
  }
}
@-moz-keyframes Fire {
  0% {
    background-position: 0 76%;
  }

  50% {
    background-position: 100% 25%;
  }

  100% {
    background-position: 0 76%;
  }
}
@keyframes Fire {
  0% {
    background-position: 0 76%;
  }

  50% {
    background-position: 100% 25%;
  }

  100% {
    background-position: 0 76%;
  }
}
@keyframes Slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}