@-webkit-keyframes Siren {
  0% {
    background-position: 0 92%;
  }

  50% {
    background-position: 100% 9%;
  }

  100% {
    background-position: 0 92%;
  }
}
@-moz-keyframes Siren {
  0% {
    background-position: 0 92%;
  }

  50% {
    background-position: 100% 9%;
  }

  100% {
    background-position: 0 92%;
  }
}
@-o-keyframes Siren {
  0% {
    background-position: 0 92%;
  }

  50% {
    background-position: 100% 9%;
  }

  100% {
    background-position: 0 92%;
  }
}
@keyframes Siren {
  0% {
    background-position: 0 92%;
  }

  50% {
    background-position: 100% 9%;
  }

  100% {
    background-position: 0 92%;
  }
}
@-webkit-keyframes Fire {
  0% {
    background-position: 0 76%;
  }

  50% {
    background-position: 100% 25%;
  }

  100% {
    background-position: 0 76%;
  }
}
@-moz-keyframes Fire {
  0% {
    background-position: 0 76%;
  }

  50% {
    background-position: 100% 25%;
  }

  100% {
    background-position: 0 76%;
  }
}
@keyframes Fire {
  0% {
    background-position: 0 76%;
  }

  50% {
    background-position: 100% 25%;
  }

  100% {
    background-position: 0 76%;
  }
}