@import "./phoenix.scss";
@import "./nav.scss";
@import "./index.scss";
@import "./animations.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #101522;
}

div.flex-container {
  display: flex;
  align-items: center;
}