@import "./phoenix.scss";
@import "./nav.scss";
@import "./sidebar.scss";
@import "./hero.scss";
@import "./index.scss";
@import "./portfolio.scss";
@import "./project.scss";
@import "./footer.scss";
@import "./animations.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

div.flex-container {
  display: flex;
  align-items: center;
}

a {
  color: rgb(41, 98, 255);
}

div.button {
  a {
    border-radius: 50px;
    background: rgb(255, 23, 68);
    white-space: nowrap;
    padding: 5px 10px;
    color: rgb(1, 6, 6);
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    text-decoration: none;
  }
}

div.nav-button {
  float: right;
  display: flex;
  align-items: center;
  color: rgb(41, 98, 255) !important;
  @media screen and (max-width: 768px) {
    display: none;
  }
}