div#carousel {
  background-color: white;

  div.overlay-link {
    height: 500px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    @media screen and (max-width: 900px) {
      height: 200px;
    }

    a {
      font-family: "Permanent Marker", cursive;
      transform: rotate(-4deg);
      padding: 5px;
      cursor: pointer;
      text-decoration: none;
      color: rgb(255, 23, 68);
      text-shadow: rgb(0 0 0) 3px 3px 0px, rgb(0 0 0) -1px -1px 0px, rgb(0 0 0) 1px -1px 0px, rgb(0 0 0) -1px 1px 0px, rgb(0 0 0) 5px 5px 0;
      font-size: 8rem;
      position: relative;
      z-index: 2;
      text-align: center;
      @media screen and (max-width: 900px) {
        font-size: 3rem;
      }
    }
  }
}

div#slider {
  opacity: 0.75;
  height: 1000px;
  overflow-x: hidden;

  figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s Slider infinite;

    img {
      -webkit-mask-image: linear-gradient(to top, transparent 0%, black 75%);
      mask-image: linear-gradient(to top, transparent 0%, black 75%);
      width: 20%;
      float: left;
    }
  }
}