footer {
  background-color: rgb(1, 6, 6);
  height: 80px;
  padding: 20px;
  margin-bottom: 0;
  @media screen and (max-width: 1000px) {
    height: 160px;
  }

  div.container {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;

    section {
      max-width: 1000px;
      width: 100%;

      div.inner-content {
        color: white;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        max-width: 1100px;
        @media screen and (max-width: 900px) {
          flex-direction: column;
        }

        div.details {
          display: flex;
          flex-direction: column;
          @media screen and (max-width: 900px) {
            margin: 1rem 0;
          }
        }

        div.icons {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;
          width: 240px;
        }

        a {
          color: rgb(255, 255, 255);
          justify-self: start;
          cursor: pointer;
          text-decoration: none;
          font-size: 1rem;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          font-weight: bold;

          &:hover {
            color: #ff1744;
          }
        }
      }
    }
  }
}