nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  z-index: 10;
  transition: all 0.8s ease 0s;

  div.inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;

    div.nav-button {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  #mobile-icon {
    display: none;
    filter:drop-shadow(1px 1px 1px #101522);
    @media screen and (max-width: 768px) {
      display: inline-table;
      position: sticky;
      top: 0;
      right: 0;
      transform: translate(-100%, 10%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #fff;
    }
  }

  a.brand {
    opacity: 1;
    color: rgb(255, 255, 255);
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgb(0 0 0) 3px 3px 0px, rgb(0 0 0) -1px -1px 0px, rgb(0 0 0) 1px -1px 0px, rgb(0 0 0) -1px 1px 0px, rgb(0 0 0) 3px 3px 0;
  }

  ul.nav-menu {
    float: right;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -22px;
    @media screen and (max-width: 768px) {
      display: none !important;
    }

    li {
      height: 80px;

      a {
        color: rgb(255, 255, 255);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        text-decoration: none;
        padding: 0 1rem;
        height: 100%;
        cursor: pointer;
      }

      &.active {
        border-bottom: 3px solid #ff1744;
      }
    }
  }
}

.scrolled-nav {
  background-color: rgb(1, 6, 6);
}