<div class="project-container">
  <%= link to: "/portfolio/#{@project.name}" do %>
    <img src="/images/thumbnails/<%= @project.name %>_thumb.png" alt="report type icon">
    <h3><%= @project.name %></h3>
    <h4><%= @project.subtitle %></h4>
  <% end %>
</div>
