<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="tedspace.us" content="This website was built by Ted Lopez" />
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "tedlopez" %>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="tedlopez">
  <meta name="application-name" content="tedlopez">
  <meta name="msapplication-TileColor" content="#ff1744">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" />
  <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>

  <%= if Mix.env() == :prod do %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114818721-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-114818721-1');
  </script>
  <% end %>
</head>

<body x-data="{ open: false }">
  <header>
    <section class="container">
      <%= render TedxWeb.SharedView, "_nav.html", assigns %>
      <%= render TedxWeb.SharedView, "_sidebar.html", assigns %>
    </section>
  </header>
  <%= @inner_content %>
  <%= render TedxWeb.SharedView, "_footer.html", assigns %>
</body>

</html>