<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="tedspace.us" content="This website was built by Ted Lopez" />
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Tedx", suffix: " · Phoenix Framework" %>
  <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" />
  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
</head>

<body>
  <header>
    <section class="container">
      <nav>
        <div class="flex-container">
          <a class="brand" href="/">tedlopez</a>
          <div id="mobile-icon"></div>
          <div class="">
            <ul class="">
              <li class="">
                <a exact="true" class="">About Me</a>
              </li>
              <li class="">
                <a exact="true" class="">Skills</a>
              </li>
              <li class="">
                <a exact="true" class="">Experience</a>
              </li>
              <li class="">
                <a exact="true" class="">Contact</a>
              </li>
            </ul>
          </div>
          <nav class="">
            <a class="" href="/portfolio">Portfolio</a>
          </nav>
        </div>
      </nav>
    </section>
  </header>
  <%= @inner_content %>
</body>

</html>